/* Signature development utility CSS. */

h1.title {
	font-size: 1.8rem;
	line-height: 1.5;
	letter-spacing: -.05rem;
	font-weight: bold;
	margin-bottom: 1%;
}

h2.subtitle {
	font-size: 1.7rem;
	line-height: 1.6;
	letter-spacing: 0;
	font-weight: bold;
	margin-bottom: 1%;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1.title {
  	font-size: 2.4rem;
  	font-weight: bold;
  	margin-bottom: 1%;
  }
  h2.subtitle {
  	font-size: 1.7rem;
  	font-weight: bold;
  	margin-bottom: 1%;
  }
}

label.left-label {
	padding-top: 10%;
}

div.inner {
    overflow:auto;
    padding-left: 50px;
    padding-right: 50px;
}

div.container {
	background-color:#ffffff;
	color: #545E6C;
}

.h1 {
  color: #6e3852;
}

.h2 {
  color: #6e3852;
}

div.fill {
	background-color:#000000;
	color: green;
}

div.formspree {
	text-align: right;
}

label.formspree-note {
	display: block;
}

div.green {
	color:  white;
	text-align: center;
	vertical-align: bottom;
	display: block;
	background-color:  #6e3852;

  padding: 20px 0px 20px 20px;
  border: 1px #6e3852;
}

span.name { color: #ffffff; }
span.dev { color: #ccb3bf; }
img.avatar {
	max-width: 8%;
  border-radius: 50%;
}
